body {
  overflow: hidden visible;
  width: 100%;
  margin: 0;
  margin-top: -35px;
}

.indexFondSite {
  margin-top: -50px;
}

.index {
  margin-top: -150px;
}
.heure {
  margin-left: 750px;
}
@media (max-width: 1000px) {
  body {
    width: 150%;
    background-size: 150% 150%;
  }
  .formulaire {
    margin-left: -250px;
    font-size: 2.5em;
  }

  .heure {
    margin-left: 500px;
    margin-top: -60px;
    margin-bottom: 150px;
  }

  th {
    font-size: 3.5em;
  }

  .choix {
    margin: 10px;
    width: 350px;
  }

  .bloc {
    width: 500px;
    height: 50px;
  }

  #body {
    width: 500px;
    margin-top: 25px;
    height: 100px;
  }

  .btn {
    margin-top: 50px;
    width: 200px;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: 0;
  }
}

@media (width: 1024px) and (height: 1366px) {
  body {
    width: 160%;
    background-size: 160% 160%;
  }

  .indexf {
    position: fixed;
    bottom: 0;
  }
}
